<div class="footer-container">
    <div class="container">
        <div class="row footer-content">
            <div class="column col-md-3 column1">
                This is a column
            </div>
            <div class="column col-md-3 column2">
                This is a column
            </div>
            <div class="column col-md-3 column3">
                This is a column
            </div>
            <div class="column col-md-3 column4">
                This is a column
            </div>
        </div>
    </div>
</div>

<!--

    <div class="row1">row1</div>

<div class""


<div class: "col-md-8 col-sm-6 col-xs-12 content">
        <h3> Content </h3>
        <p><strong> Large screens: </strong> 8 columns wide </p>
        p><strong> Medium screens: </strong> 6 columns wide </p>
        p><strong> Small screens: </strong> 12 columns wide </p>
    </div>


    <div class="row2">row2</div2>

        <div class "col-md-4 col-sm-6 col-xs-12 sidebar" <h3> Sidebar </h3>
            <p><strong> Large screens: </strong> 4 columns wide </p>
            p><strong> Medium screens: </strong> 6 columns wide </p>
            p><strong> Small screens: </strong> 12 columns wide </p>

        </div>

        <div class="row" style="margin-top" :20px;>
            <div class "col-md-4 col-sm-6 col-xs-12 thumb">thumbnail</div>
            <div class "col-md-4 col-sm-6 col-xs-12 thumb">thumbnail</div>
            <div class "col-md-4 col-sm-6 col-xs-12 thumb">thumbnail</div>
            <div class "col-md-4 col-sm-6 col-xs-12 thumb">thumbnail</div>
            <div class "col-md-4 col-sm-6 col-xs-12 thumb">thumbnail</div>
            <div class "col-md-4 col-sm-6 col-xs-12 thumb">thumbnail</div>
        </div>




    </div>-->