<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Company of Heroes</title>
    <meta name="description" content="Company of Heroes">
    <meta name="author" content="SitePoint">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

    <!-- CSS files -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">

    <!-- Javascript files -->
    <script src="/javascript/jquery-3.1.1.min.js"></script>
    <script src="/javascript/bootstrap.js"></script>
</head>

<body>
    <div class="header-container">
        <div class="header">
           <a href="/">Integrationshjemmeside AT6</a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/games"> Placeholder</a></li>
                <li><a href="/forums">Placeholder</a></li>
                <li><a href="/leaderboards">Placeholder</a></li>
                <li><a href="/media">Placeholder</a></li>
                <li><a href="/buy">Placeholder</a></li>
                <li><a href="/modding">Placeholder</a></li>
            </ul>
        </div>
        <div class="main">
            
            </div>
    </div>
    </div>
</body>

</html>