<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Company of Heroes</title>
    <meta name="description" content="Company of Heroes">
    <meta name="author" content="SitePoint">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

    <!-- CSS files -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">

    <!-- Javascript files -->
    <script src="/javascript/jquery-3.1.1.min.js"></script>
    <script src="/javascript/bootstrap.js"></script>
</head>

<body>
    <div class="header-container">
        <div class="header">
            Company of Heroes 2
        </div>
        <div class="menu">
            <ul>
                <li><a href="http://www.companyofheroes.com/>"> Games</a></li>
                <li><a href="http://www.companyofheroes.com/>">Forums</a></li>
                <li><a href="http://www.companyofheroes.com/>">Leaderboards</a></li>
                <li><a href="http://www.companyofheroes.com/>">Media</a></li>
                <li><a href="http://www.companyofheroes.com/>">Buy</a></li>
                <li><a href="http://www.companyofheroes.com/>">Download</a></li>
            </ul>
        </div>
    </div>
    </div>
</body>

</html>